body {
    padding: 0px;
    margin: 0px;
    display: flex;
}
.column {
    display: inline-block;
    position: relative;
    height: 100%;
}
.rightcolumn {
    width: 300px;
}
.leftcolumn {
    width: calc(100% - 300px);
}
#main-broadcaster video {
    position: absolute;
    background-color: black;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}
.broadcaster-bar {
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: rgba(26, 26, 26, 0.75);
    text-align: center;
    min-width: 100%;
    bottom: 0;
}
.broadcaster-bar video {
    display: inline-block;
    align-self: center;
    background-color: dimgray;
    height: 13%;
    margin: 1%;
}
.chatdisplay {
    background-color: rgb(225,225,225);
    width: 100%;
    height: calc(100% - 150px);
}
.chatinput {
    width: 100%;
    height: 150px;
}