body {
    padding: 0px;
    margin: 0px;
    display: flex;
    overflow: hidden;
}
.column {
    display: inline-block;
    position: relative;
    height: 100%;
}
.rightcolumn {
    width: 300px;
}
.leftcolumn {
    width: calc(100% - 300px);
}
#main-broadcaster video {
    position: absolute;
    background-color: black;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}
.broadcaster-bar {
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: rgba(26, 26, 26, 0.75);
    text-align: center;
    min-width: 100%;
    bottom: 0;
}
.broadcaster-bar video {
    display: inline-block;
    align-self: center;
    background-color: dimgray;
    height: 13%;
    margin: 1%;
}
#chatdisplay {
    background-color: rgb(225,225,225);
    border-style: solid;
    border-color: gray;
    border-width: 0px;
    border-left-width: 1px;
    width: 100%;
    height: calc(100% - 150px);
    overflow-y: scroll;
    font-size: 14px;
    font-family: monospace;
}
#chatdisplay > div {
    margin: 5px;
}
#chatinput {
    width: 100%;
    height: 150px;
    display: flex;
}
#chatinput > div {
    display: inline-block;
    height: 100%;
    width: 20%;
}
#chatinput > div:first-child {
    width: 80%;
}
#chatinput textarea {
    resize: none;
    height: 100%;
    width: 100%;
}
#sendbtn, #attachbtn {
    vertical-align: middle;
    text-align: center;
    height: 50%;
    line-height: 75px;
    cursor: pointer;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#sendbtn {
    background-color: forestgreen;
}
#attachbtn {
    background-color: darkorange;
}