body {
    padding: 0px;
    margin: 0px;
}
.main-broadcaster {
    position: absolute;
    background-color: black;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}
.broadcaster-bar {
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: rgba(26, 26, 26, 0.75);
    text-align: center;
    min-width: 100%;
    bottom: 0;
}
.broadcaster {
    display: inline-block;
    align-self: center;
    background-color: lightgray;
    width: 20%;
    height: 13%;
    margin: 1%;
}

#localVideo {
    position: absolute;
    height: 100%;
}